.cntwork{
  padding: 20px;   
}
.workers {
  display: flex;
  flex-direction: col;
  justify-content: center;
  padding-inline-end: 50px;
  padding-inline-start: 90px;
}

body {
font-family: '나눔고딕';
}
ul {
  list-style-type: none;
  padding-inline-end: 10px;
  padding-inline-start: 4px;
}
p{
  margin: 10px;
}
input[type="text"]{
  width:12em;
  height:1.5em;
}
input[type=checkbox]{
  zoom:2.0;
  margin: 1px;
}
.sat{
  color:blue;
}
.sun{
  color:red;
}
.make{
  font-size:2em;
  height:2.5em;
  font-family:'Nanumgothic';
}
.layout{
  display: flex;
  flex-direction: col;
  
}

h1{
  font-family:'Nanumgothic';
  font-size: 3em;
  text-align: center;
  margin: 0;
}
background{
  color: pink;
}
select{
  width: 200px;
  padding:5px;
  border:1px solid #999;
  font-family:'Nanumgothic';
  border-radius:3px;
  -moz-apperance: none;
  -webkit-apperance: none;
  font-size: 15px;
}

  fieldset{
    
  }
  div{
      
  }
  caption{
      font-family:'Nanumgothic';
      font-size: 25px;
      margin: 1;
  }

  .result_table td:nth-child(2n){
      background-color: lightgray;
  }

  .result_table td{
      height: 10px;
      border: solid 1px white;
  }